body {
  background-color: #bebbff;
  background-size: cover;
}

.mainContainer {
  background-color: transparent;
  width: 100%;
  background-size: cover;
}

.topFrame {
  background-color: #bebbff;
  text-align: center;
  height: 100vh;
}

.topText {
  position: relative;
  top: 50%;
  color: white;
  font-family: 'Armata', sans-serif;
}

.bioGraf {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  border-bottom: 1px solid gray;
  padding: 10%;
  margin: auto;
  background-color: #f1edff;
}

.projects-container {
  display: flex;
  background-color: #bebbff;
  width: 100%;
}

.project-box {
  border-radius: 10%;
  border: solid gray;
  margin: 3%;
  padding: 1%;
  text-align: center;
  background-color: white;
  font-family: 'Armata', sans-serif;
}

.project-box a {
  border: solid gray 0.5px;
  margin: 2%;
  padding: 1%;
  border-radius: 5%;
  :hover {
    background-color: #f1edff;
  }
}

.project-box h4 {
  margin: 2%;
  border-bottom: 1px solid grey;
}

.project-icon {
  margin-left: 5px;
  :hover {
    background-color: #f1edff;
  }
}

p {
  line-height: 35px;
}

a {
    text-decoration: none;
    color: inherit;
}

h4 {
  margin: auto;
  padding: 2%;
  text-align: center;
}

ul {
    list-style: circle;
    text-align: left;
    margin-top: 2%;
    margin-right: 3%;
    padding-right: 2%;
    font-family: 'Raleway', sans-serif;
}

.collaborators a {
  border: none;
  margin: auto;
  padding: auto;
}

.collaborators {
  font-family: 'Didact Gothic', sans-serif;
}

li {
  padding: 3%;
}

.contact-bar {
  text-align: center;
  background-color: transparent;
  width: 100%;
}

.button-icon {
  margin: 10px;
}
