body {
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  width: 100%;
  background-size: cover;
}

.topFrame {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 500px;
  background-image: url("https://christiancw.github.io/public/StockSnap_TF8W4HF1BI.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-size: 100% 800px;
  background-repeat: no-repeat;
}

.topText {
  color: white;
  font-family: 'Armata', sans-serif;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding: 15px;
}

.skills-list {
  margin: 25px 10px;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.skill-col {
  padding-left: 3%;
}

.middle-col {
  border-right: 1px dashed black;
  border-left: 1px dashed black;
}

.list-item {
  padding: 2px;
  margin: 2px;
}

.career-summary-container {
  display: flex;
  flex-direction: column;
  border-right: 1px dotted gray;
  h4 {
    height: 15%;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: stretch;
    li {
      margin: 5px;
      font-size: 14px;
    }
  }
}

.bioGraf {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
}

.projects-container {
  background-image: url("https://christiancw.github.io/public/StockSnap_TF8W4HF1BI.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-size: 100% 800px;
  background-repeat: no-repeat;
}

.project-box {
  border-radius: 3px;
  border: solid gray;
  margin: 1%;
  padding: 1%;
  text-align: center;
  background-color: white;
  font-family: 'Armata', sans-serif;
  ul {
      list-style: circle;
      text-align: left;
      margin-top: 2%;
      margin-right: 3%;
      padding-right: 2%;
      font-family: 'Raleway', sans-serif;
  }
  li {
    padding: 3%;
  }
}

.project-box a {
  border: solid gray 0.5px;
  margin: 2%;
  padding: 1%;
  border-radius: 5%;
  :hover {
    background-color: #f1edff;
  }
}

.project-box h4 {
  margin: 2%;
  border-bottom: 1px solid grey;
}

.project-icon {
  margin-left: 5px;
  :hover {
    background-color: #f1edff;
  }
}

.collaborators a {
  border: none;
  margin: auto;
  padding: auto;
}

.collaborators {
  font-family: 'Didact Gothic', sans-serif;
}

.contact-bar {
  text-align: center;
  background-color: transparent;
  width: 100%;
}

.button-icon {
  margin: 10px;
}
